@import url(../css/global.css);

/* Menu */
header {
    position: fixed;
    width: 100%;
    background-color: var(--black-color);
    z-index: 999; 
    transition: all 0.5s ease;
    padding: 10px 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

header.sticky {
    background: var(--orange-color);
    padding: 5px 0;
}

nav a img {
    width: 60px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a {
    margin: 0 25px;
    
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

nav ult a:hover {
    background: var(--orange-color);
}

nav ul a:not(.btn):after {
    content: "";
    background: var(--orange-color);
    display: block;

    margin: 0 auto;

    height: 3px;
    width: 0;

    transition: 0.3s;
}

nav ul a:hover::after {
    width: 100%;
}
/* Scroll */
.scroll-up-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 41px;
    height: 45px;

    text-align: center;
    line-height: 50px;

    border-radius: 15px;
    border: 1px solid var(--orange-color);
    background-color: var(--orange-color);
    color:   var(--white-color);
    opacity: 0;

    font-size: 30px;
    cursor: pointer;
    pointer-events: none;

    transition: 03s ease-in-out;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* Mobile - Responsive */
.menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: var(--orange-color);
    display: none;
}

.menu-icon.sticky {
    color: var(--black-color);
}

nav .menu-icon-close {
    display: none;
    font-size: 25px;
    color: var(--white-color);
}

@media (max-width: 830px) {
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--orange-color);

        clip-path: circle(0% at 100% 0);
        transition: 0.7s;
    }
    
    .menu.open {
        clip-path: circle(141.2% at 100% 0);
    }

    .menu a {
        margin: 10px 0;
        font-size: 16px;
    }

    .menu-icon {
        display: block;
    }

    nav .menu-icon-close {
        display: block;
        position: absolute;
        top: 22px;
        right: 30px;
    }
}